# Ignore the data folder and all its contents
data/
./data/

# Ignore the logs folder and all its contents
logs/
./logs/

# Ignore the plotting folder and all its contents
plotting/
./plotting/

# Ignore specific large file types just in case
*.parquet
*.csv
*.h5

# Ignore python cache
__pycache__/
*.pyc